<div class="row">
    <h1 class="proyecto">Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-l-7 parte1">
            <h1 class="proyecto">Encriptador</h1>
            <p class="proyecto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum a, voluptates dolorum sequi voluptate deserunt voluptas ducimus corporis quisquam dolorem ad perspiciatis nisi obcaecati placeat, quae, rem molestiae vitae qui.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/encriptador.png" class="img-fluid img-proyecto">

        </div>
    </div>
</div>