<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm4 col-md4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="100"
    [imageSrc]="'../../../assets/HTML5.png'"
    [showImage]="true"
    [imageHeight]="50"
    [imageWidth]="50"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#FFFFFF'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="600"
    ></circle-progress>
    </div>
    <div class=" text-center col-sm4 col-md4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../../../assets/CSS.png'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#FFFFFF'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="600"
        ></circle-progress>
        </div>
        <div class="text-center col-sm4 col-md4 col-lg-4">
            <circle-progress
            [percent]="85"
            [radius]="100"
            [imageSrc]="'../../../assets/js.png'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#FFFFFF'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
            ></circle-progress>
            </div>
            <div class="text-center col-sm4 col-md4 col-lg-4">
                <circle-progress
                [percent]="85"
                [radius]="100"
                [imageSrc]="'../../../assets/github.png'"
                [showImage]="true"
                [imageHeight]="50"
                [imageWidth]="50"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#FFFFFF'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="600"
                ></circle-progress>
                </div>
                <div class="text-center col-sm4 col-md4 col-lg-4">
                    <circle-progress
                    [percent]="85"
                    [radius]="100"
                    [imageSrc]="'../../../assets/grupal.png'"
                    [showImage]="true"
                    [imageHeight]="50"
                    [imageWidth]="50"
                    [showUnits]="false"
                    [showSubtitle]="false"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="2"
                    [outerStrokeColor]="'#FFFFFF'"
                    [innerStrokeColor]="'#C7E596'"
                    [animation]="true"
                    [animationDuration]="600"
                    ></circle-progress>
                    </div>
                    <div class="text-center col-sm4 col-md4 col-lg-4">
                        <circle-progress
                        [percent]="85"
                        [radius]="100"
                        [imageSrc]="'../../../assets/eng.png'"
                        [showImage]="true"
                        [imageHeight]="50"
                        [imageWidth]="50"
                        [showUnits]="false"
                        [showSubtitle]="false"
                        [outerStrokeWidth]="16"
                        [innerStrokeWidth]="2"
                        [outerStrokeColor]="'#FFFFFF'"
                        [innerStrokeColor]="'#C7E596'"
                        [animation]="true"
                        [animationDuration]="600"
                        ></circle-progress>
                        </div>
</div>
