<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
    <ul>
        <li><h1>Estudio 1</h1> - <h3>(years)</h3></li>
        <p class="cum">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, omnis qui vel cum expedita natus accusamus, officiis adipisci itaque, sapiente quia blanditiis nisi! Vero facilis, saepe at beatae iure unde?</p>
    </ul>
    <ul>
        <li><h1>Estudio 2</h1> - <h3>(years)</h3></li>
        <p class="cum2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, omnis qui vel cum expedita natus accusamus, officiis adipisci itaque, sapiente quia blanditiis nisi! Vero facilis, saepe at beatae iure unde?</p>
    </ul>
    <ul>
        <li><h1>Estudio 3</h1> - <h3>(years)</h3></li>
        <p class="cum3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, omnis qui vel cum expedita natus accusamus, officiis adipisci itaque, sapiente quia blanditiis nisi! Vero facilis, saepe at beatae iure unde?</p>
    </ul>
    </div>
</div>