<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/xd2.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Agustin Trinidad</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum provident voluptatibus architecto quisquam facere laborum est ullam cupiditate? Aperiam, eligendi! Nulla rem, quod modi praesentium non in maiores obcaecati distinctio?
            </p>
        </span>
    </div>
</div>